<!DOCTYPE HTML PUBLIC "-//W3C/DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Twitter CP</title>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

<link rel="shortcut icon" href="/twitter_cp.png" type="image/png"/>
<link rel="icon" href="/twitter_cp.png" type="image/png"/>
<link rel="apple-touch-icon" href="/twitter_cp.png"/>

<meta name="viewport" content="width=device-width,initial-scale=1"/>
<meta name="apple-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
<meta name="apple-mobile-web-app-title" content="Twitter CP"/>

<!-- // OGP tags -->
<meta property="og:title" content="Twitter CP - Twitter を元にした <%= user.screen_name %> の AI 性格分析"/>
<meta property="og:type" content="article"/>
<meta property="og:url" content="https://twitter-cp.mybluemix.net/insight?id=<%= id %>"/>
<meta property="og:image" content="https://twitter-cp.mybluemix.net/twitter_cp.png"/>
<meta property="og:site_name" content="Twitter CP"/>
<!-- OGP tags // -->

<!-- // Twitter Card -->
<meta property="twitter:card" content="summary"/>
<meta property="twitter:site" content="@dotnsf"/>
<meta property="twitter:creator" content="@dotnsf"/>
<meta property="twitter:url" content="https://twitter-cp.mybluemix.net/insight?id=<%= id %>"/>
<meta property="twitter:image" content="https://twitter-cp.mybluemix.net/twitter_cp.png"/>
<meta property="twitter:title" content="Twitter CP"/>
<meta property="twitter:description" content="Twitter CP"/>
<!-- Twitter Card // -->

<meta name="description" content="Twitter CP"/>
<meta name="keywords" content="Twitter CP"/>

<script src="//code.jquery.com/jquery-2.0.3.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" rel="stylesheet"/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js"></script>
<link href="//use.fontawesome.com/releases/v5.6.3/css/all.css" rel="stylesheet"/>

<script>
$(function(){
  $('#navbar').append( '<li class="nav-item"><a class="nav-link" href="#" onClick="login()"><i class="fas fa-sign-in-alt"></i>自分も試してみる</a></li>' );
});

function timestamp2datetime( ts ){
  var dt = new Date( ts );
  var yyyy = dt.getFullYear();
  var mm = dt.getMonth() + 1;
  var dd = dt.getDate();
  var hh = dt.getHours();
  var nn = dt.getMinutes();
  var ss = dt.getSeconds();
  //var datetime = yyyy + '-' + ( mm < 10 ? '0' : '' ) + mm + '-' + ( dd < 10 ? '0' : '' ) + dd
  //  + ' ' + ( hh < 10 ? '0' : '' ) + hh + ':' + ( nn < 10 ? '0' : '' ) + nn + ':' + ( ss < 10 ? '0' : '' ) + ss;
  var datetime = yyyy + '年' + mm + '月' + dd + '日';
  return datetime;
}

function login(){
  window.location.href = '/twitter';
}

function logout(){
  if( window.confirm( 'Logout?' ) ){
    var obj = getBusyOverlay( 'viewport', {color:'black', opacity:0.5, text:'loading', style:'text-decoration:blink; font-weight:bold; font-size:12px; color:white;' } );
    $.ajax({
      type: 'POST',
      url: '/logout',
      data: {},
      success: function( data ){
        obj.remove();
        window.location.href = '/';
      },
      error: function(){
        obj.remove();
        window.location.href = '/';
      }
    });
  }
}
</script>
<style>
.circle{
  width: 100px;
  height: 100px;
  text-align: center;
  border-radius: 50%;
  background: #fafafa;
  border-style: solid;
  border-color: #ffcc33;
  z-index: 2;
}
.star-rating{
  display: inline-block;
  line-height: 100px;
  position: relative;
  width: 3em;
  height: 1em;
  font-size: 25px;
}
.star-rating-front{
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #ffcc33;
}
.star-rating-back{
  color: #cccccc;
}
#my_wrapper{
  height: 100%;
  background: linear-gradient(90deg, rgb(0,23,55), rgb(31,74,115));
}
#my_inner{
  height: 90%;
  background: linear-gradient(180deg, rgb(248,248,248), rgb(44,116,150));
}
.my-slider{
  position: relative;
  top: -20px;
  z-index: 1;
  width: 100%;
  color: #ee9219;
  background: #fafafa;
  padding: 30px 30px 30px 30px;
  margin: 50px 10px 10px 10px;
  border-radius: 5px;
  border-style: solid;
  border-color: #fafafa;
}
#ai{
  position: relative;
  bottom: 0;
  margin-top: auto;
}
#ai_img{
  width: 100%;
  height: 90%;
}
#my-message{
  position: relative;
  z-index: 2;
  width: 95%;
  color: #333333;
  background: #fafafa;
  padding: 30px 30px 30px 30px;
  border-radius: 5px;
  border-style: solid;
  border-color: #fafafa;
}
</style>
</head>
<body>

<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">Twitter CP</a>
  <ul class="navbar-nav">
  </ul>
  <ul class="navbar-nav float-right" style="float:right!important;" id="navbar">
  </ul>
</nav>

<%
if( user != null ){
%>
<div class="container" id="my_wrapper" style="padding: 100px 50px 50px 50px;">
  <div>
    <table>
      <tr><td>
        <a id="share_twitter" title="Twitter でシェア" target="_blank" href="https://twitter.com/share?url=https://twitter-cp.mybluemix.net%2Finsight?id%3D<%= id %>&text=<%= datetime %>までのツイート内容で性格分析を行った結果です。&amp;hashtag=twitter_cp"><img src="/share_twitter.png"/></a>
      </td><td>
        <a id="share_facebook" title="facebook でシェア" href="https://www.facebook.com/share.php?u=https://twitter-cp.mybluemix.net%2Finsight%3Fid%3D<%= id %>" onclick="window.open(this.href,'FBwindow','width=650,height=450,menubar=no,toolbar=no,scrollbas=yes'); return false;"><img src="/share_facebook.png"/></a>
      </td><td>
        <a id="share_line" title="LINE でシェア" href="https://social-plugins.line.me/lineit/share?url=https://twitter-cp.mybluemix.net%2Finsight%3Fid%3D<%= id %>" onclick="window.open(this.href,'Linewindow','width=650,height=450,menubar=no,toolbar=no,scrollbas=yes'); return false;"><img src="/share_line.png"/></a>
      </td></tr>
    <table>
  </div>

  <div id="my_inner" style="padding: 50px 50px 50px 50px;">

  <div class="row">
    <div class="col">
    <div style="text-align: center">
      <img src="/profileimage?screen_name=<%= user.screen_name %>" style="width:200px; height: 200px;"/><br/>
      <h3><%= user.screen_name %></h3>
      <div class="progress" style="width: 30%; margin-left: auto; margin-right: auto;">
        <div class="progress-bar bg-success" style="width: 100%;"></div>
      </div>
    </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
    <div class="circle">
    <div class="star-rating">
      <div class="star-rating-front">★★★</div>
      <div class="star-rating-back">★★★</div>
    </div>
    </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
    <div class="my-slider">
<%
if( result != null && result.personality != null ){
  var p_avg = 0.0;
  for( var i = 0; i < result.personality.length; i ++ ){
    var p = result.personality[i];
    p_avg += p.percentile;
%>
    <%= p.name %>
    <div class="progress">
    <div class="progress-bar bg-warning" style="width: <%= Math.floor( p.percentile * 11 ) %>0%;"></div>
    </div>
<%
  }
  p_avg = p_avg * 4 / 5;
  var p_star = Math.floor( p_avg );  //. 0-3
%>
<script>
$('.star-rating-front').css( 'width', '<%= p_star * 33.3 %>%' );
</script>
<%
}
%>
    </div>
    </div>

    <div class="col">
    <div id="ai">
      <img id="ai_img" src="/ai_character.png"/>
    </div>
    </div>
  </div>

  <div class="row">
    <div id="my-message">
    この <a href="https://twitter.com/<%= user.screen_name %>" target="_blank"><%= user.screen_name %></a> を <%= datetime %> 時点の直近 200 ツイートを元に <a href="https://www.ibm.com/watson/jp-ja/developercloud/personality-insights.html" target="_blank">IBM Watson Personality Insights</a> を用いて性格分析した結果である。
    </div>
  </div>
  </div>
</div>
<%
}
%>

</body>
</html>
